* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration : none;
}

body {
    background-color: aliceblue;
    cursor: url("../img/cursor.cur"), default;

}

body a {
    cursor: url("../img/pointer.cur"), pointer;
}



#left_nav {
	margin-left: 5%;
	width: 80%;
	float: left;
}

h3 {
    text-align: center;
}

#load_img {
    width: 100%;
    height: 500px;
}

.side li {
    list-style-type: none;
    background-color: black;
    display: inline-block;
    top: 186%;
    height: 35px;
    width: 35px;
    left: 94.5%;
    z-index: 1010;
    position: fixed;
}

#jpg img {
    width: 400px;
}

.side img {
    height: 35px;
    width: 35px;
}

#footer_menu {
    height: 300px;
    background-color: #b9def0;
}

#footer_menu div {
    float: left;
}

#footer_menu li {
    list-style-type: none;
    font-size: 2.4rem;
    margin-bottom: 5%;
}

#footer_menu_left {
    width: 55%;
}



#techi li:hover {
	color: white;
}


#nav_search{
	width: 30%;
	float: right;
	position: relative;
}

#search {
	line-height: 15px;
}

nav ul li{
	list-style-type: none;
	float: left;
	margin-left: 20px;
    line-height: 60px;

}
#right_nav {
	width: 15%;
	float: left;

}


/*导航*/

#content {
    height: 300px;
	width: 100%;
	opacity: 0.4;
	font-size: 30px;
	line-height: 400px;
	text-align: center;
	color: #FC0107;
}

#ad {
	height: 600px;
	width: 100%;
	background-color:#755E9F;
}
#footer {
	height: 200px;
	width: 100%;
	background-color:#0A1927;
}
#footer p {
	color: white;
	font-size: 40px;
	text-align: center;

}
#footer img {
	height: 170px;
	width: 200px;
	background-size: 100%;
	margin-top: -195px;
	position: relative;
}

